<nb-card size="medium">
  <nb-card-body>
    <div class="location">
      <span>Subscribers</span>
    </div>
    <div class="date">
      <span>Thu 5 Oct</span>
    </div>
    <div class="daily-forecast">
      <div class="info">
        <div class="temperature">
          <span>+20</span>
        </div>
        <div class="icon">
          <i class="ion-ios-personadd"></i>
        </div>
      </div>
      <div class="details">
        <div class="parameter">
          <span class="parameter-name">min</span>
          <span class="parameter-value">5</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">max</span>
          <span class="parameter-value">50</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">avg</span>
          <span class="parameter-value">34</span>
        </div>
        <div class="parameter">
          <span class="parameter-name">est</span>
          <span class="parameter-value">40</span>
        </div>
      </div>
    </div>
    <div class="weekly-forecast">
      <div class="day">
        <span class="caption">Sun</span>
        <i class="ion-ios-people"></i>
        <span class="temperature">43</span>
      </div>
      <div class="day">
        <span class="caption">Mon</span>
        <i class="ion-ios-people"></i>
        <span class="temperature">19</span>
      </div>
      <div class="day">
        <span class="caption">Tue</span>
        <i class="ion-ios-people"></i>
        <span class="temperature">22</span>
      </div>
      <div class="day">
        <span class="caption">Wed</span>
        <i class="ion-ios-people"></i>
        <span class="temperature">35</span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
