<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-card-header><h3>Actors</h3></nb-card-header>
  <nb-card-body style="padding:0">
    <nb-tabset fullWidth>
      <nb-tab tabTitle="Most Recommended">
        <div class="contact" *ngFor="let c of actors">
          <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
          <i class="i-contact nb-phone"></i>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Most Seen">
        <div class="contact" *ngFor="let c of recent">
          <nb-user [picture]="c.user.picture" [name]="c.user.name" [title]="c.type" size="large"></nb-user>
          <span class="time">{{ c.time }}</span>
        </div>
      </nb-tab>
    </nb-tabset>
  </nb-card-body>
</nb-card>
