<div class ="row">
  <div class="col-md-6">
    <nb-card>
        <h2 style="padding: 10px" class ="ion-information-circled">Total trending score</h2>
      <nb-card-header></nb-card-header>
    </nb-card>
  </div>
  <div class="col-md-6">
    <div class="col-md-12">
      <nb-card>
       <h2 style="padding: 10px" class ="ion-information-circled">Youtube score</h2>
        <nb-card-header></nb-card-header>
      </nb-card>
    </div>
    <div class="col-md-12">
      <nb-card>
       <h2 style="padding: 10px" class ="ion-information-circled">Twitter score</h2>
      </nb-card>
    </div>
  </div>
</div>
<!--<div class="row">
  <div class="col-lg-8">
    <nb-card>
      <nb-card-header>Top Key Words</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar></ngx-echarts-bar>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>keyword usage over time</nb-card-header>
      <nb-card-body>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>-->
  <!--<div class="col-lg-4">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Line</nb-card-header>
      <nb-card-body>
        <ngx-echarts-line></ngx-echarts-line>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Area Stack</nb-card-header>
      <nb-card-body>
        <ngx-echarts-area-stack></ngx-echarts-area-stack>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Bar Animation</nb-card-header>
      <nb-card-body>
        <ngx-echarts-bar-animation></ngx-echarts-bar-animation>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>Radar</nb-card-header>
      <nb-card-body>
        <ngx-echarts-radar></ngx-echarts-radar>
      </nb-card-body>
    </nb-card>
  </div> -->
