<div class ="row">
  <div class="col-md-4">
    <nb-card>
      <h2 style="padding: 10px"><button class ="ion-ios-information-outline"></button> Total trending score</h2>
      <nb-card-header *ngFor="let movie of dataTrending?.trendingMovies"> {{movie.name}} {{movie.id}} </nb-card-header>
    </nb-card>
  </div>
  <div class="col-md-4">
      <nb-card>
        <h2 style="padding: 10px"><button class ="ion-ios-information-outline"></button> Youtube score</h2>
        <nb-card-header *ngFor="let movie of dataYoutube?.youtubeMovies"> {{movie.name}} {{movie.id}} </nb-card-header>
      </nb-card>
  </div>

  <div class="col-md-4">
      <nb-card>
        <h2 style="padding: 10px"><button class ="ion-ios-information-outline"></button> Twitter score</h2>
        <nb-card-header *ngFor="let movie of dataTwitter?.twitterMovies"> {{movie.name}} {{movie.id}} </nb-card-header>
      </nb-card>
  </div>
</div>
<!--
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>keyword usage over time</nb-card-header>
      <nb-card-body>
        <ngx-echarts-multiple-xaxis></ngx-echarts-multiple-xaxis>
      </nb-card-body>
    </nb-card>
  </div>-->

