.sidebar-wrapper {
    position: relative;
    max-height: calc(100vh - 75px);
    min-height: 100%;
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 75px;
    background-color: slategrey;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    display: block;
    z-index: 5;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: 50%;

}

.logo {
  color: chartreuse;
  background-color: darkgoldenrod;
}
