<!-- Performance page-->
<div class="row">
  <div class="col-lg-12">
    <nb-card>

          <h2 style="padding: 10px">
          <ngx-modals [modalHeader]=modalHeader1 [modalContent]=modalContent1></ngx-modals>
          Improvement Over Time Simple
          </h2>
          <div class="col-lg-11">
            <ngx-chartjs-multiple-xaxis [factor] = 1 style="margin-left:5%"></ngx-chartjs-multiple-xaxis>
          </div>
    </nb-card>
  </div>
</div>
<!--  <div class="col-md-6">
    <nb-card>
        <nb-card-header>
          <h2 style="padding: 10px">
          <ngx-modals [modalHeader]=modalHeader2 [modalContent]=modalContent2></ngx-modals>
           Success Rate
          </h2>
        </nb-card-header>
        <nb-card-body>
        <n    <nb-card-body>
       js-pie>
        </nb-card-body>
    </nb-card>
  </div>-->

