<div class="row">
  <div style="background-color: white; border-radius: 3px; box-shadow: 0 0 0 2px grey" class="col-md-6">
      <nb-card-body>
        <h2 style="padding: 10px; box-shadow: 0 0 0 2px grey; border-radius: 3px"><button style = "box-shadow: 0 0 0 1px black; background: white; border-radius: 3px" class ="ion-ios-information-outline"></button> Improvement over time</h2>
        <ngx-chartjs-multiple-xaxis></ngx-chartjs-multiple-xaxis>
      </nb-card-body>
  </div>
  <div class="col-md-6">
  <div style="background-color: white; border-radius: 3px; box-shadow: 0 0 0 2px grey" class="col-md-12">
      <nb-card-body>
         <h2 style="padding: 10px; box-shadow: 0 0 0 2px grey; border-radius: 3px"><button style = "box-shadow: 0 0 0 1px black; background: white; border-radius: 3px" class ="ion-ios-information-outline"></button> Success rate</h2>
        <ngx-chartjs-pie></ngx-chartjs-pie>
      </nb-card-body>
  </div>
  </div>
</div>
